{lib_dirs, ["deps",".."]}.
{deps_dir, ["deps"]}.
{deps, [
    {nitro,         ".*", {git, "git://github.com/synrc/nitro",             {tag,"2.4"}}},
    {n2o,           ".*", {git, "git://github.com/synrc/n2o",               {tag,"4.4"}}},
    {kvs,           ".*", {git, "git://github.com/synrc/kvs",               {tag,"3.9.1"}}},
    {erlydtl,       ".*", {git, "git://github.com/evanmiller/erlydtl.git",  {tag,"0.8.0"}}},
    {oauth,         ".*", {git, "git://github.com/tim/erlang-oauth",        {tag, "v1.6.0"}}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
