{lib_dirs, ["deps",".."]}.
{erl_opts,[nowarn_deprecated_function,nowarn_export_all]}.
{deps_dir, ["deps"]}.
{deps, [
    {nitro,         ".*", {git, "git://github.com/synrc/nitro",      []}},
    {n2o,           ".*", {git, "git://github.com/synrc/n2o",        []}},
    {kvs,           ".*", {git, "git://github.com/synrc/kvs",        []}},
    {oauth,         ".*", {git, "git://github.com/tim/erlang-oauth", {tag, "v2.0.0"}}}
]}.
