{deps_dir, ["deps"]}.
{deps, [
    {n2o,           ".*", {git, "git://github.com/5HT/n2o", {tag,"2.1"}}},
    {kvs,           ".*", {git, "git://github.com/synrc/kvs", {tag,"master"}}},
    {erlydtl,       ".*", {git, "git://github.com/evanmiller/erlydtl.git", {tag,"0.8.0"}}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
